<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Charlottesville, Virginia</h2>
            <hr class="primary">
            <h3>Getting There and Away</h3>
            <p>Charlottesville is located about in central Virginia and is home to Michelle's alma mater the University of Virginia.</p>
            <p>
                For those coming from the Washington DC area, it is a 2 hour drive South from Dulles International Airport
                and a 2.5 hour drive South from Ronald Reagan International Airport
            </p>
            <h3>Things to Do</h3>
            <p>There's no shortage of things to do in Charlottesville! Some ideas are listed below.</p>
            <h4>Wine Tasting</h4>
            <p>
                If you have a designated driver, nothing beats a leisurely afternoon visiting a few of Charlottesville's beautiful vineyards and tasting the wine.
            </p>
            <h4>Eat</h4>
            <p>

            </p>
            <h4>Drink</h4>
            <p><a href="http://www.bluemountainbrewery.com/">Blue Mountain Brewery</a> is an excellent local brewery offering great food and drinks located
                a bit south of Charlottesville <a href="https://goo.gl/maps/JcDmJnQLkM12">here<a/>.</p>
        </div>
    </div>
</div>
