<section id="event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Friday Night Welcome Party</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>
                        Come join us for a few celebratory drinks at The Local
                    </dd>
                    <dt>When</dt>
                    <dd>Friday, April 27th, 2018 at 9:00 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            The Local<br>
                            <a href="https://goo.gl/maps/Gx4ryLjQJGr">824 Hinton Ave, Charlottesville, VA 22902</a><br>
                            Phone: (434) 984-9749
                        </address>

                    </dd>
                    <dt>Attire</dt>
                    <dd>Casual</dd>
                    <dt>Transportation</dt>
                    <dd>Transportation is not provided so please plan responsibly</dd>
                    <dt>Parking</dt>
                    <dd>Street parking is available but limited</dd>
                    <dt>Other info</dt>
                    <dd>
                        We are doing our rehearsal dinner at the same venue and will open the doors to the upstairs
                        bar area around 9:00 pm.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="saturday-event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Saturday Ceremony and Reception</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Celebrate Our Marriage</dd>
                    <dt>When</dt>
                    <dd>Saturday, April 28th, 2018 at 5:00 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Castle Hill Cider<br>
                            <a href="https://goo.gl/maps/fZ1ewVfdvES2">6065 Turkey Sag Rd, Keswick, VA 22947</a><br>
                            Phone: (434) 296-0047
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Cocktail
                    </dd>
                    <dt>Transportation</dt>
                    <dd>Buses will pick up and transport guests from the parking lot next to the Homewood Suites and Hampton Inn
                        at 4:00pm.  Buses will be returning to the hotels fom Castle Hill Cider on a staggered schedule
                        at 10:00pm, 11:00pm and 11:45pm.
                    </dd>
                    <dt>Parking</dt>
                    <dd>Parking is available on-site at Castle Hill Cider</dd>
                    {% comment %}
                    <dt>Afterwards</dt>
                    <dd>

                    </dd>
                    {% endcomment %}
                </dl>
            </div>
        </div>
    </div>
</section>
