<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Hotels</h2>
            <hr class="primary">

            <table class="table table-bordered">
                <tr>
                    <th class="col-md-2"><a href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/C/CHOCNHW-KAW-20180427/index.jhtml">Homewood Suites</a></th>
                    <td>
                        The <a href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/C/CHOCNHW-KAW-20180427/index.jhtml">Homewood Suites</a> is conveniently located just north of downtown Charlottesville and is about 20 minutes from the venue.
                        <br><br>We have a block of discounted rooms reserved there - use the code <code>KAW</code> to get the group discount or use the personalized link.
                        <br><br>Buses will leave from the parking lot next to this hotel for the Saturday ceremony and reception.
                    </td>
                    <td>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3141.377061178131!2d-78.49029468470357!3d38.061598979708265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b387c3153b1d21%3A0xd66329bd34fa1f91!2sHomewood+Suites+by+Hilton+Charlottesville%2C+VA!5e0!3m2!1sen!2sus!4v1514751776653" align=middle width="300" height="225" frameborder="1" style="border:0" allowfullscreen></iframe>
                    </td>
                </tr>
                <tr>
                    <th><a href="http://hamptoninn.hilton.com/en/hp/groups/personalized/C/CHOVAHX-AKW-20180427/index.jhtml">Hampton Inn</a></th>
                    <td>
                        The <a href="http://hamptoninn.hilton.com/en/hp/groups/personalized/C/CHOVAHX-AKW-20180427/index.jhtml">Hampton Inn</a> is in the same parking lot as the Homewood Suites.
                        <br><br>We have a block of discounted rooms reserved there - use the code <code>AKW</code> to get the group discount or use the personalized link.
                        <br><br>Buses will leave from the parking lot next to this hotel for the Saturday ceremony and reception.
                    </td>
                    <td>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6282.779315074029!2d-78.49521874719927!3d38.06130556828329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x15138c4be0d95a01!2sHampton+Inn+Charlottesville!5e0!3m2!1sen!2sus!4v1514753616557" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </td>
                </tr>
                <tr>
                    <th><a href="https://www.ihg.com/holidayinn/hotels/us/en/charlottesville/chonu/hoteldetail">Holiday Inn</a></th>
                    <td>
                        The <a href="https://www.ihg.com/holidayinn/hotels/us/en/charlottesville/chonu/hoteldetail">Holiday Inn</a> is right across the street from the other two hotels.  We have a block of discounted rooms reserved there - use the code <code>AKW</code> to get the group discount.
                        <br><br>Buses will leave from the parking lot across the street next to the Hampton/Homewood hotels for the Saturday ceremony and reception.
                    </td>
                    <td>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6282.779315074029!2d-78.49521874719927!3d38.06130556828329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b387c1444b15ff%3A0xafebf15e23b2f6ae!2sHoliday+Inn+Charlottesville-Univ+Area!5e0!3m2!1sen!2sus!4v1514752420966" width="300" height="225" frameborder="1" style="border:0" allowfullscreen></iframe>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
