{% load staticfiles %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Photos</h2>
            <hr class="primary">
            <section id="breeshgallery">
                <img src="{% static 'bigday/images/gallery/arizona.jpg' %}"/>
                <img src="{% static 'bigday/images/gallery/wedding.jpg' %}"/>
                <img src="{% static 'bigday/images/gallery/novahokie.jpg' %}"/>
                <img src="{% static 'bigday/images/gallery/sandyryan.jpg' %}"/>
                <img src="{% static 'bigday/images/gallery/bobby.jpg' %}"/>
                <img src="{% static 'bigday/images/gallery/aksmanfamily.jpg' %}"/>
                <img src="{% static 'bigday/images/gallery/aksmanfamily2.jpg' %}"/>
                <img src="{% static 'bigday/images/gallery/engagement.jpg' %}"/>
                <img src="{% static 'bigday/images/gallery/ravishivaniwedding.jpg' %}"/>
                <img src="{% static 'bigday/images/gallery/basilfamily.jpg' %}"/>
                <img src="{% static 'bigday/images/gallery/mom.jpg' %}"/>
                <img src="{% static 'bigday/images/gallery/italy.jpg' %}"/>
                <img src="{% static 'bigday/images/gallery/nyc.jpg' %}"/>
                <img src="{% static 'bigday/images/gallery/proposal.jpg' %}"/>
            </section>
        </div>
    </div>
</div>
