<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Registry</h2>
            <hr class="primary">
            <h3>Gifts</h3>
            <p>We are registered at <a href="https://www.amazon.com/wedding/michelle-aksman-brian-kalb-charlottesville-april-2018/registry/1DWLB3VNZQHZ2">Amazon</a>, <a href="https://www.crateandbarrel.com/gift-registry/michelle-aksman-and-brian-kalb/r5823383">Crate & Barrel</a>, and <a href="https://www.bloomingdales.com/registry/wedding/guest/?perfectProxy=true&registryId=6902639&cm_sp=BWEDD_Find_Registry-_-View_GVR-_-n">Bloomingdale's</a>.</p>
            <h3>Honeyfund</h3>
            <p>You can also support our honeymoon to Greece through our <a href="https://www.honeyfund.com/wedding/Breesh">Honeyfund</a>!</p>
        </div>
    </div>
</div>
