{% extends "base.html" %}
{% load staticfiles %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Brian and Michelle April 2018</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#main-header">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#event">Events</a>
                    </li>
                    {% comment %}
                    <li>
                        <a class="page-scroll" href="#charlottesville">Charlottesville</a>
                    </li>
                    {% endcomment %}
                    <li>
                        <a class="page-scroll" href="#hotels">Hotels</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#rsvp">RSVP</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#registry">Registry</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#photos">Photos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% block main %}
    <header id="main-header">
        <div class="header-content">
            <div class="header-content-inner">
                {% comment %}
                <hr>
                <h2>Wedding</h2>
                <a href="#welcome" class="btn btn-info btn-xl page-scroll">Welcome</a>
                <a href="#event" class="btn btn-primary btn-xl page-scroll">Friday</a>
                <a href="#saturday-event" class="btn btn-success btn-xl page-scroll">Saturday</a>
                {% endcomment %}
            </div>
        </div>
    </header>
    <section class="bg-info" id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Welcome!</h2>
                    <hr>
                    <p>
                        Hello Friends and Family!
                    </p>
                    <p>
                        Please see below for all the details regarding <a href="#hotels" class="page-scroll">Accommodations</a>, <a href="#event" class="page-scroll">Friday Night's Welcome Party</a> in Charlottesville and <a href="#saturday-event" class="page-scroll">Saturday's Ceremony & Reception</a> at Castle Hill Cider.
                    </p>
                    <!-- <p>
                        To get added to the wedding WhatsApp group first create an account and then send an
                        email to <a href="mailto:whatsapp@brianandmichelle.com">whatsapp@brianandmichelle.com</a>.
                    </p> -->
                    <p>
                        Looking forward to seeing everyone soon!
                    </p>
                    <p class="pull-right">- Brian and Michelle</p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding" id="navigation">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#saturday-event" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/castlehill.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Castle Hill Cider
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#hotels" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/monticello.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Hotels
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#photos" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/ourstory.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Photos
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% include 'partials/event.html' %}
{% comment %}
    <section id="charlottesville" class="bg-info"
        {% include 'partials/charlottesville.html' %}
    </section>
        {% include 'partials/wedding-party.html' %}
{% endcomment %}
    <section id="hotels" class="bg-primary">
        {% include 'partials/hotels.html' %}
    </section>
    {% include 'partials/rsvp.html' %}
    <section id="registry" class="bg-primary">
        {% include 'partials/registry.html' %}
    </section>
    <section id="photos" class="bg-dark">
        {% include 'partials/photos.html' %}
    </section>
    <section id="contact" class="bg-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact Us!</h2>
                    <hr class="primary">
                    <p>If you have any questions don't hesitate to reach out!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:info@brianmichelle.com">info@brianmichelle.com</a></p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
